.main-content-area {
  background-color: green;
}

.search-area {
  margin-bottom: 50px;
  margin-top: 50px;
}

.image-area {
  background-color: grey;
  border-radius: 25px;
}

.each-image {
  padding: 15px;
  border-radius: 25px;
}
